.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;
}

.SliderTrack {
  background-color: rgb(78, 78, 78);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.SliderRange {
  position: absolute;
  background-color: white;
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgb(67, 67, 67);
  border-radius: 10px;
}
.SliderThumb:hover {
  background-color: rgb(151, 49, 195);
}

.video-player-volume-slider {
  opacity: 0%;
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out, opacity 150ms ease-in-out;
}

#video-player-volume-container:hover .video-player-volume-slider {
  opacity: 100%;
  width: 100px;
  transform: scaleX(1);
}